[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]
pytest = "*"
black = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
torch = "*"
nltk = "*"
nlplib = {editable = true,path = "."}
loguru = "*"

[requires]
python_version = "3.6"

[scripts]
test = "pytest --cov=nlplib --cov-report=term-missing"
black = "black nlplib tests"
